<style>
  .modal1 {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  }
</style>

<div class="App">
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
    crossOrigin="anonymous"
  />

  <div class="modal1">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"> รหัสพนักงาน </span>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="รหัสพนักงาน"
        [(ngModel)]="editData.id"
      />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"> ชื่อนามสกุล </span>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="ชื่อนามสกุล"
        [(ngModel)]="editData.name"
      />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"> เบอร์โทร </span>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="เบอร์โทร"
        [(ngModel)]="editData.tel"
        (input)="onTelChange($event)"
      />
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">
          ตำแหน่ง
        </label>
      </div>
      <select
        class="custom-select"
        id="inputGroupSelect01"
        [(ngModel)]="editData.position"
      >
        <option value="โปรแกรมเมอร์">โปรแกรมเมอร์</option>
        <option value="ดีไซเนอร์">ดีไซเนอร์</option>
        <option value="ผู้จัดการโครงการ">ผู้จัดการโครงการ</option>
      </select>
    </div>
    <div>
      <button type="button" class="btn btn-success" onClick="{onConfirm}">
        ยืนยัน {{editData.tel}}
      </button>
    </div>
  </div>

  <div>
    <h1>รายชื่อพนักงาน</h1>
    <button type="button" class="btn btn-success" onClick="{onNew}">
      เพิ่ม
    </button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">รหัสพนักงาน</th>
        <th scope="col">ชื่อ-นามสกุล</th>
        <th scope="col">เบอร์โทร</th>
        <th scope="col">ตำแหน่ง</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of datas">
        <th scope="row">{{data.id}}</th>
        <td>{{data.name}}</td>
        <td>{{data.tel}}</td>
        <td>{{data.position}}</td>
        <td>
          <button class="btn btn-warning">แก้ไข</button>
          <button class="btn btn-danger">ลบ</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
